<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/coupon.css" />

<body>
  <nav class="navigation-menu">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product/all">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/event/all">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user/all">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/coupanCreate">Coupon</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link logout"
          href="/admin/logout"
          onclick="return confirm('Do you want to logout?')"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
  <div class="home-container">
    <header>
      <div class="welcome">
        <h1>Create a New Coupon</h1>

        <form action="/admin/coupanCreate" method="POST">
          <label for="name">Coupon Name:</label>

          <input type="text" id="name" name="name" required />
          <button
            class="random-button"
            type="button"
            onclick="generateCouponName()"
          >
            Generator</button
          ><br />

          <label for="expiry">Expiry Date:</label>
          <input type="date" id="expiry" name="expiry" required /><br />

          <label class="sale-exceed" for="discount"
            >Discount:
            <span style="margin-left: 10px;"
              >Coupon cannot exceed 100!</span
            ></label
          >

          <input type="number" id="discount" name="discount" required /><br />

          <button type="submit">Create Coupon</button>
        </form>
        <table class="table table-bordered table-hover">
          <h3 style="margin-bottom: 10px;">All Coupon List</h3>

          <thead class="thead-light">
            <tr class="thead-light">
              <th scope="col">№</th>
              <th scope="col">Name</th>
              <th scope="col">Expiry</th>
              <th scope="col">Discount</th>
            </tr>
          </thead>
          <!-- LOOP COUPONS: START -->
          <% coupons.map(function(value, key) { %>
          <tbody style="background: white">
            <tr>
              <td><%= key + 1 %></td>
              <td><%= value.name %></td>
              <td><%= value.expiry %></td>
              <td><%= value.discount %></td>
            </tr>
          </tbody>
          <% }) %>
          <!-- LOOP COUPONS: END -->
        </table>
      </div>
    </header>
  </div>

  <script type="text/javascript" src="/js/coupon.js"></script>
</body>

<%- include('includes/footer') %>
