<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/users.css" />

<body> 
  <% if(!member) { %>
  <div class="navigation-menu">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link " href="/admin/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/signup">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/login">Login</a>
      </li>
    </ul>
  </div>
  <% } else { %>
  <div class="navigation-menu">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link " href="/admin/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product/all">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/event/all">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/user/all">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupanCreate">Coupon</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/logout" onclick="return confirm('Do you really want to logout?')">Logout</a>
      </li>
    </ul>
   </div>
      <div class="users-container">
        <div class="users-frame">
          <div class="board">
            <div class="user-table">
              <span class="header-name">All Users List</span>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">№</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.map(function(value, index) { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= value.memberFirstName %></td>
                    <td><%= value.memberLastName %></td>
                    <td><%= value.memberNick %></td>
                    <td><%= value.memberPhone %></td>
                    <td><%= value.memberEmail %></td>
                    <td>
                      <select class="spec-select member-status" id="<%= value._id %>">
                        <option value="ACTIVE" <%= value.memberStatus === 'ACTIVE' ? 'selected' : '' %>>ACTIVE</option>
                        <option value="BLOCK" <%= value.memberStatus === 'BLOCK' ? 'selected' : '' %>>BLOCK</option>
                        <option value="DELETE" <%= value.memberStatus === 'DELETE' ? 'selected' : '' %>>DELETE</option>
                      </select>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% } %>
      </div>
   

  <script type="text/javascript" src="/js/users.js"></script>
</body>

<%- include('includes/footer') %>
